---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <div class="side">
                <div>
                    加微信请备注sybn
                </div>
                <div class="weixin" weixin>
                    <img src="{{ site.baseurl }}/images/weixin.jpg"/>
                </div>
            </div>
        
            <div class="side">
                <div>
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    入门内容
                </div>
                <ul class="content-ul" recent>
                    <li><a href="{{ site.baseurl }}/2018/03/28/about-sybn-util/">关于 sybn util</a></li>
                    <li><a href="{{ site.baseurl }}/2018/04/24/sql-ddl-dao/">SqlDdlDao 介绍</a></li>
                    <li><a href="{{ site.baseurl }}/2019/06/06/sql-standard/">SqlDdlDao 对于sql规范的支持</a></li>
                    <li><a href="{{ site.baseurl }}/2019/07/25/quick-start/">SqlDdlDao quick start</a></li>
                    <li><a href="{{ site.baseurl }}/2019/07/25/web-sql/">SqlDdlDao 在线试用</a></li>
                    <li><a href="({{site.baseurl}}/2019/09/18/jdbc-driver/">jdbc-driver</a></li>
                </ul>
            </div>
            
            <!-- Content -->
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js" | prepend: site.baseurl }}" charset="utf-8"></script>
